* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #1787e0;
  --main-color-alt: #2196f3;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.settings-box {
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #ffff;
  width: 250px;
  min-height: 100vh;
  z-index: 99;
  border: 1px solid #eee;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.settings-box.open {
  left: 0;
}
.settings-box .settings-icon {
  background-color: #fff;
  color: #000;
  position: absolute;
  right: -30px;
  top: 200px;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.settings-box .settings-container .option-box {
  padding: 20px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.settings-box .settings-container .option-box h4 {
  margin: 0;
  color: #666;
}
.settings-box .settings-container .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.settings-box .settings-container .option-box .colors-list li {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.settings-box .settings-container .option-box .colors-list li.active {
  border: 3px solid #fff;
  outline: 3px solid var(--main-color);
  opacity: 1;
}
.settings-box .random-backgrounds .on,
.settings-box .random-backgrounds .off {
  display: inline-block;
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  padding: 4px 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 10px;
}
.settings-box .random-backgrounds span.active {
  opacity: 1;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-weight: bold;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo .logo-content {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .logo img {
  max-width: 100%;
  max-height: 100%;
}
.header .logo .logo-content > div {
  margin-left: 10px;
}
.header .logo .logo-content > div p {
  font-size: 14px;
}
@media (max-width: 767px) {
  .header .logo {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
  }
  .header .logo .logo-content {
    height: 50px;
    margin-top: 10px;
  }
  .header .logo .logo-content > div p {
    font-size: 12px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li .mega-menu.show {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 992px) {
  .header .logo {
    height: 50px;
    margin-bottom: 30px;
  }
  .header .logo .logo-content {
    height: 50px;
    margin-top: 10px;
  }
  .header .main-nav > li > a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .main-nav > li > a:hover,
.header .main-nav > li > a.active {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before,
.header .main-nav > li > a.active::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
  animation: spin 10s linear infinite;
  -webkit-animation: spin 10s linear infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .mega-menu .links li:hover {
  padding-left: 15px;
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
  }
}
/* End Header */
/* Start Landing */
.landing {
  min-height: calc(100vh - 100px);
  position: relative;
  z-index: 2;
  background-color: #ddd;
  background-image: url("../imgs/landing-01.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-position: center;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: rgb(23 135 224 / 26%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 span {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}
.landing .text .content h2 span:first-child {
  font-size: 30px;
}
.landing .text .content h2 span:last-child {
  font-size: 50px;
}
.landing .text .content p {
  font-weight: bold;
  font-size: 18px;
}
.landing .text .content .buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.landing .text .content .buttons button {
  display: block;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing .text .content .buttons button:hover {
  background-color: var(--main-color-alt);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.landing .text .content .buttons button a {
  color: #fff;
}
@media (max-width: 1199px) {
  .landing .text .content h2 span:first-child {
    font-size: 20px;
  }
  .landing .text .content h2 span:last-child {
    font-size: 30px;
  }
  .landing .text .content p {
    font-size: 14px;
  }
  .landing .text .content .buttons button {
    padding: 8px 10px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .landing .text .content .buttons button {
    padding: 5px 5px;
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  .landing .text .content h2 span:first-child {
    font-size: 18px;
  }
  .landing .text .content h2 span:last-child {
    font-size: 25px;
  }
  .landing .text .content p {
    font-weight: normal;
    font-size: 13px;
  }
  .landing .text .content .buttons {
    flex-direction: column;
  }
}
/* End Landing */
